@media only screen and (max-width: 2000px){
	body{
		margin: 0;
		font-family: sans-serif;
	}
	a{
		text-decoration: none;
	}
	header{
		position: absolute;
		top: 0%;
		left: 0%;
		height: 9.5%;
		width: 100%;
		background: #6918a7;
	}
	#video{
		padding: 0  0 0 2.5%;
		height: 40%; 
		width: 30%
	}
	#inicio, #publicar, #cerrar, #imagenes{
		position: absolute;
		top: 0%;
		height: 99%;
		width: 10%;
		text-align: center;
		color: white;
		padding: 1.2% 0 0 0;
	}
	#inicio:hover, #publicar:hover, #cerrar:hover, #imagenes:hover{
		background: #58138d;
		height: 67.5%;
	}
	#inicio{
		position: absolute;
		left: 0%;
	}
	#publicar{
		position: absolute;
		left: 10%;
	}
	#imagenes{
		position: absolute;
		left: 20%;
	}
	#cerrar{
		position: absolute;
		left: 30%;
	}
	#busqueda{
		position: absolute;
		top: 15%;
		right: 5%;
		height: 65%;
		border-bottom-right-radius: 20px; 
		border-top-right-radius: 20px; 
	}
	header h3{
		position: absolute;
		left: 50%;
		top: -20%;
		color: white;
	}
	button{
		position: absolute;
		top: 19.5%;
		right: 5.25%;
		height: 60%;
		width: 3%;
		border-radius: 50%; 
		border: none;
	}
	footer{
		text-align: center;
		color: white;
		background: #6918a7;
	}
	#archivo{
		height: 80%; 
		width: 80%; 
		position: absolute;
		top: 15%; 
		left: 10%; 
	}
}
@media only screen and (max-width: 450px){
	#archivo{
		position: absolute;
		left: 0%; 
	}
	#video, #archivo{
		padding: 0 0 0 0;
		height: 40%; 
		width: 100%;
	}
	footer{
		position: fixed;
		left: 0%; 
		width: 100%; 
		height: 5%;
		bottom: 0%; 
	}
}